In [1]:
#importing libraries
import numpy as np
import pandas as pd

# Task 1

# Q1) install jupyter noteook and run the first the program?

In [2]:
print('welcome to my jupyter notbook')

welcome to my jupyter notbook

# Q2) Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5, between 2000 and 3200 (both included). The numbers obtained should be printed in a comma-separated sequence on a single line?

In [3]:

a = []
for x in range(1500,2701):
    if (x%7==0) and (~x%5==0):
        a.append(str(x))
print(','.join(a))

1519,1554,1589,1624,1659,1694,1729,1764,1799,1834,1869,1904,1939,1974,2009,2044,2079,2114,2149,2184,2219,2254,2289,2324,2359,2394,2429,2464,2499,2534,2569,2604,2639,2674

# Q3)Write a Python program to accept the user's first and last name and then getting them printed in the the reverse order with a space between first name and last name?

In [4]:
fname = input("Enter your First Name:")
lname = input("Enter your Last Name:")
print('hello'+" " + lname+ " " +fname)

Enter your First Name:abhilash
Enter your Last Name:muppalla
hello muppalla abhilash

# Q4) Write a Python program to find the volume of a sphere with diameter 12 cm. Formula: V=4/3 * Ï€ * r 3

In [5]:
pi = 3.1415
d = int(input("Enter the value of diameter d is :"))
print(" The diameter of the sphre d is: ", d)
r = d/2
print("The radius f the sphere r is :", r )
v = 4/3*pi*r**3
print("The volume of sphere v is :", v)

Enter the value of diameter d is :12
 The diameter of the sphre d is:  12
The radius f the sphere r is : 6.0
The volume of sphere v is : 904.752

# Task 2

# Q1) Write a program which accepts a sequence of comma-separated numbers from console and generate a list?

In [6]:
values = input("Input some comma seprated numbers : ")
list = values.split(",")
print('List : ',list)

Input some comma seprated numbers : 9,8,7,6,5,4,3,2,1
List :  ['9', '8', '7', '6', '5', '4', '3', '2', '1']

# Q2) Create the pattern using nested for loop in Python.

In [7]:
n = int(input("enter the value: "))
print('the value of n is:',n)
for i in range(n):
    for j in range(i):
        print ('* ', end="")
    print('')

for i in range(n,0,-1):
    for j in range(i):
        print('* ', end="")
    print('')

enter the value: 5
the value of n is: 5

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

# Q3) Write a Python program to reverse a word after accepting the input from the user?

In [8]:
word = input("Input a word to reverse: ")

for char in range(len(word) - 1, -1, -1):
  print(word[char], end="")
print("\n")

Input a word to reverse: abhilash
hsalihba

# Q4) Write a Python Program to print the given string in the format specified in the sample output.
WE, THE PEOPLE OF INDIA, having solemnly resolved to constitute India into a
SOVEREIGN, SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC and to secure to all
its citizens


Sample Output:


WE, THE PEOPLE OF INDIA,
        having solemnly resolved to constitute India into a SOVEREIGN, !
                SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC
                and to secure to all its citizens

In [9]:
print(' WE,THE PEOPLE OF INDIA,\n\t having solemnly resolved to constitute into a SOVEREIGN,\n\t\t SOCIALIST,SECULAR,DEMOCRATIC REPUBLIC \n\t\t and to secure to ll its citizens ')

 WE,THE PEOPLE OF INDIA,
	 having solemnly resolved to constitute into a SOVEREIGN,
		 SOCIALIST,SECULAR,DEMOCRATIC REPUBLIC
		 and to secure to ll its citizens